<div class="col-md-6">
                <a class="lhsm-btn detailbtn orangebtn" href="#" data-toggle="modal" data-target="#formlogin"><i class="fa fa-star-o"></i> Tambah ke Wishlist</a>
							</div>
							<div class="col-md-6">
								<a class="lhsm-btn detailbtn mustlogin" href="#" data-toggle="modal" data-target="#formlogin"><img src="<%= image_path "iconcart2.png" %>" style="position:relative;left:-10px;width: 25px;"> Beli Sekarang</a>
							</div>